
<form [formGroup]="forgetForm" class="align-self-center"(ngSubmit)="onSubmit()">
   
    <div class="form-group align-self-center">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" [ngClass]="{'is-invalid': controlName.email.errors && (controlName.email.touched || controlName.email.dirty), 'is-valid':controlName.email.valid}"  formControlName="email" class="form-control col-md-4" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <div
        *ngIf="controlName.email.invalid && showError "
        class="alert alert-danger">
        <div *ngIf="controlName.email.errors?.['required']">
          Email is required.
        </div>
        </div>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      
  
    <button type="submit" class="btn btn-primary">Submit</button>
    
  </form>
