<p>change-password works!</p>
<form [formGroup]="resetForm" class="align-self-center">

  <div class="form-group">
    <label for="exampleInputPassword1">Old Password</label>
    <div class="row">

      <input [type]="visibleOldPassword?'password':'text'" class="form-control col-md-4" id="exampleInputolPassword"
        formControlName="oldPassword"
        [ngClass]="{'is-invalid': controlName.oldPassword.errors && (controlName.oldPassword.touched || controlName.oldPassword.dirty), 'is-valid':controlName.oldPassword.valid}"
        placeholder="Old Password">
      <span class="eyeicon col align-self-center justify-content-center"><i
          [ngClass]="visibleOldPassword?'fa fa-eye':'fa fa-eye-slash'" (click)="viewOldPassword()"></i>
      </span>
    </div>
    <div *ngIf="controlName.oldPassword.invalid && (controlName.oldPassword.dirty || controlName.oldPassword.touched)"
      class="alert alert-danger">
    <div *ngIf="controlName.oldPassword.errors?.['required']">
      Old Password is required.
    </div>
    </div>

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">New Password</label>
    <div class="row">
      <input [type]="visibleNewPassword?'password':'text'" class="form-control col-md-4" id="exampleInputNewPassword"
        formControlName="newPassword"
        [ngClass]="{'is-invalid': controlName.newPassword.errors && (controlName.newPassword.touched || controlName.newPassword.dirty), 'is-valid':controlName.newPassword.valid}"
        placeholder="New Password">
      <span class="eyeicon col align-self-center justify-content-center"><i
          [ngClass]="visibleNewPassword?'fa fa-eye':'fa fa-eye-slash'" (click)="viewNewPassword()"></i>
      </span>
    </div>
    <div *ngIf="controlName.newPassword.invalid && (controlName.newPassword.dirty || controlName.newPassword.touched)"
      class="alert alert-danger">
    <div *ngIf="controlName.newPassword.errors?.['required']">
      New Password is required.
    </div>
    </div>

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Comfirm Password</label>
    <div class="row">

      <input [type]="visibleComfirmPassword?'password':'text'" class="form-control col-md-4"
        id="exampleInputChangePassword" formControlName="comfirmPassword"
        [ngClass]="{'is-invalid': controlName.comfirmPassword.errors && (controlName.comfirmPassword.touched || controlName.comfirmPassword.dirty), 'is-valid':controlName.comfirmPassword.valid}"
        placeholder="Comfirm Password">
      <span class="eyeicon col align-self-center justify-content-center"><i
          [ngClass]="visibleComfirmPassword?'fa fa-eye':'fa fa-eye-slash'" (click)="viewComfirmPassword()"></i>
      </span>
    </div>
    <div
    *ngIf="controlName.comfirmPassword.invalid && (controlName.comfirmPassword.dirty || controlName.comfirmPassword.touched)"
    class="alert alert-danger">
    <div *ngIf="controlName.comfirmPassword.errors?.['required']">
      Comfirm Password is required.
    </div>
    </div>

  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>