<div class="m-3 row">

    <h3 class="float-left col">Welcome </h3>
    <div class="float-right p-2 ">

        <button (click)="homePage()" class="btn btn-outline-info m-1" >Home</button>
        <button (click)="viewProfile()" class="btn btn-outline-info m-1">View Profile</button>
        <button (click)="updateProfile()" class="btn btn-outline-info m-1">Update Profile</button>
        <button (click)="changePassword()" class="btn btn-outline-info m-1">Change Password</button>
        <button (click)="signOut()" class="btn btn-outline-info m-1">Log Out</button>
    </div>
</div>