<form [formGroup]="resetForm" class="align-self-center" (ngSubmit)="onSubmit()">
  <div class="form-group col-md-4">
    <label for="inputotp">OTP</label>
    <input type="number" class="form-control" id="inputotp" formControlName="otp"
      [ngClass]="{'is-invalid': controlName.otp.errors && (controlName.otp.touched || controlName.otp.dirty), 'is-valid':controlName.otp.valid}"
      placeholder="Mobile Number">
    <div *ngIf="controlName.otp.invalid && (controlName.otp.dirty || controlName.otp.touched)"
      class="alert alert-danger">
      <div *ngIf="controlName.otp.errors?.['required']">
        OTP is required.
      </div>
     
    </div>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">New Password</label>
    <div class="row">
      <input [type]="visibleNewPassword?'password':'text'" class="form-control col-md-4"
        [ngClass]='confirmPasswordClass' id="exampleInputNewPassword" formControlName="password" #pw
        [ngClass]="{'is-invalid': controlName.password.errors && (controlName.password.touched || controlName.password.dirty), 'is-valid':controlName.password.valid}"
        placeholder="New Password">
      <span class="eyeicon col align-self-center justify-content-center"><i
          [ngClass]="visibleNewPassword?'fa fa-eye':'fa fa-eye-slash' " (click)="viewNewPassword()"></i>
      </span>
    </div>
    <!-- <input type="password" class="form-control col-md-4" id="exampleInputNewPassword" formControlName="newPassword"  [ngClass]="{'is-invalid': controlName.newPassword.errors && (controlName.newPassword.touched || controlName.newPassword.dirty), 'is-valid':controlName.newPassword.valid}" placeholder="New Password"> -->
    <div *ngIf="controlName.password.invalid && showError "
      class="alert alert-danger">
      <div *ngIf="controlName.password.errors?.['required']">
        New Password is required.
      </div>
      <div *ngIf="controlName.password.errors?.['minlength']" class="alert alert-danger">
        Password must be at least 8 characters long.
      </div>
    </div>

  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Comfirm Password</label>
    <div class="row">

      <input [type]="visibleConfirmPassword?'password':'text'" class="form-control col-md-4"
        id="exampleInputChangePassword" formControlName="confirmPassword" [ngClass]='confirmPasswordClass'
        [ngClass]=" {'is-invalid': controlName.confirmPassword.errors && (controlName.confirmPassword.touched || controlName.confirmPassword.dirty), 'is-valid':controlName.confirmPassword.valid}"
        placeholder="Comfirm Password" #cpw (keyup)='checkPasswords(pw.value, cpw.value)'>
      <span class="eyeicon col align-self-center justify-content-center"><i
          [ngClass]="visibleConfirmPassword?'fa fa-eye':'fa fa-eye-slash'" (click)="viewConfirmPassword()"></i>
      </span>
    </div>
    <!-- <input type="password" class="form-control col-md-4" id="exampleInputPassword1" formControlName="password"  [ngClass]="{'is-invalid': controlName.confirmPassword.errors && (controlName.confirmPassword.touched || controlName.confirmPassword.dirty), 'is-valid':controlName.confirmPassword.valid}" placeholder="Password"> -->
    <div *ngIf="showError " >
      <div *ngIf="controlName.confirmPassword.errors?.['required']" class="alert alert-danger">
        Comfirm Password is required.
      </div>
      <div *ngIf='!passwordsMatching && isConfirmPasswordDirty' class="alert alert-danger">
        Passwords did not match
      </div>
      <div *ngIf="controlName.password.errors?.['minlength']" class="alert alert-danger">
        Password must be at least 8 characters long.
      </div>
    </div>

  </div>

  <button type="submit" [disabled]="!passwordsMatching " class="btn btn-primary">Submit</button>

</form>