<p>reset-password works!</p>
<form [formGroup]="resetForm" class="align-self-center">
   
    <div class="form-group">
      <label for="exampleInputPassword1">New Password</label>
      <input type="password" class="form-control col-md-4" id="exampleInputNewPassword" formControlName="newPassword"  [ngClass]="{'is-invalid': controlName.newPassword.errors && (controlName.newPassword.touched || controlName.newPassword.dirty), 'is-valid':controlName.newPassword.valid}" placeholder="Password">
      <div *ngIf="controlName.newPassword.errors?.['required']">
       New Password is required.
      </div>
      
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Comfirm Password</label>
      <input type="password" class="form-control col-md-4" id="exampleInputPassword1" formControlName="password"  [ngClass]="{'is-invalid': controlName.comfirmPassword.errors && (controlName.comfirmPassword.touched || controlName.comfirmPassword.dirty), 'is-valid':controlName.comfirmPassword.valid}" placeholder="Password">
      <div *ngIf="controlName.comfirmPassword.errors?.['required']">
        Comfirm Password is required.
      </div>
      
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
    
  </form>
